body{
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
    position: relative;
    }
  
  nav{
    display: flex;
    justify-content: flex-end;   
    padding-right: 20px;
    padding-top: 10px;
    
  }
  
  nav a{
    margin:5px;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover{
    text-decoration: underline;
  }
  
  nav a.profile_img{
    width:15px;
    height:15px;
    background-color:red;
    border-radius:50%;
      
    
  }

  #postioning{
    position: relative;
    margin-bottom:80px;
  }
  
  main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .searchbarcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top:15px;
    z-index: 3;
    
  }
  input.searching{
    width:584px;
    height:46px;
    border-radius:35px;
    outline: 0;
    margin-top:30px;
    border: 1px solid #c4c4c4;  
    margin-top:20px;
    font-size:16px;
    display: flex;
    border: 1px solid #dfe1e5;
    z-index: 3;
    margin: 0 auto;
  }
  
  input.searching:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  input{
    padding-left:40px; 
    padding-right: 40px;    
  }
   
  
  img{
    margin-top:200px;
  }
  
  #searchIcon{
    position: absolute;
    display: flex;
    margin-bottom:4px;
    margin-right: 530px;
   
  }
  
 #voiceIcon{
   border:0;
   width: 25px;
   cursor: pointer;
   height: 25px;  
   margin-left: 530px; 
   margin-bottom: 200px;  
  position: absolute;   
  text-decoration: none;  
  display: block;
 }

 
  
  .buttons{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    flex-direction: row;
  }
  
  .buttons a {
    margin-top:20px;
    margin-left:10px;
    color: #5F6368;
    background: #f2f2f2;;
    padding:10px;
    border-radius:4px;
    
  }
  
  .buttons a:hover{
    color:#5F6368;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
     border: 1px solid #f2f2f2;
    
  }
  
  .footer{
    height:50px;
    background-color: #d0d0d0;;
    display: flex;
    flex-flow: column-wrap;
    flex-direction: column;  
    position: relative;
    top:200px;
  
  }
  
  div a {
    text-decoration: none;
  }
  
  .terms{
    position: absolute;
    margin-top:10px;
    display: flex;
    flex-direction:row;  
    justify-content: center;
  }
  
  
  
  /*.terms{
    display: flex
    margin-left:200px;
    flex-direction:column;  
    justify-content: flex-end;
    margin-top:18px;
    
  }*/
  
  .terms a {
    margin-left:10px; 
    color:#707070;
   
   
  }
  
  .terms a:hover{
    text-decoration: underline;
    
  }
  
  #privacy {
    display: flex;
    flex-flow: column wrap;;
    justify-content: flex-end;
    flex-direction: row;  
    align-items: flex-end;   
    margin-right:20px;
  }
  
  #privacy a {
    margin-top:10px;
    margin-left:10px;
    color:#707070;;
  }
  
  #privacy a:hover{
    text-decoration: underline;
  }